/*
 * Navigation shortcuts ("skip to content")
 */

#skip-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -20rem;
  width: 100%;
  z-index: 1001;
}

#skip-nav a {
  background: #fff;
  left: 1rem;
  padding: 1rem;
  position: absolute;
}

#skip-nav a:focus {
  top: 21rem;
}

/*
 * Disable animations for some users
 */
@media (prefers-reduced-motion: reduce) {
  .apparition {
    animation: none;
  }
}
