/*
 * Dark mode support; in both light and dark modes,
 * --theme passes WCAG AAA on large text, AA on normal text
 */
@media (prefers-color-scheme: dark) {
  :root {
    --theme: #e15;
    --background: #000;
    --body: #eee;
  }

  .highlight {
    background: none;
    color: var(--theme);
  }
}

:root {
  --theme: #e15;
  --background: #f7f7f7;
  --body: #222;
}

/*
 * Main formatting
 */

html {
  /* Desired fonts, acceptable system fonts, fallback fonts */
  /* see https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
  font-family: source-sans-pro, 'Source Sans Pro',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu, Cantarell, 'Fira Sans', Inter, 'Helvetica Neue', sans-serif;
  font-size: 16pt;
  height: 100%;
  line-height: 1.5;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--background);
  color: var(--body);
  margin: 0;
  min-height: 100%;
  /* Fancier background and decoration */
  background-image:
    radial-gradient(#e154 2%, transparent 2%),
    radial-gradient(#09e4 2%, transparent 2%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  border-top: .2rem solid var(--theme);
  transition: background-color .5s;
}

.main, .footer {
  display: block;
  max-width: 38rem;
  margin: 0 auto;
}

.main {
  padding: 2rem 1rem 0;
}

.footer {
  font-size: 75%; /* 12pt for a body size of 16pt */
  padding: 0 1rem 2rem;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1;
  margin: 0 0 .5rem;
  transition: font-size .2s;
}

p {
  margin: 0 0 3rem;
  overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

a {
  color: var(--theme);
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: bolder;
}

/*
 * Fancy-ish decorations
 */

.hero {
  transition: height .3s;
}

.fake-button {
  background: var(--theme);
  border-radius: .5rem;
  color: var(--background);
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  padding: .5rem .75rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fake-button:hover, .fake-button:focus {
  opacity: .8;
  text-decoration: none;
}

.icon {
  display: inline-block;
  margin: 0 .1rem;
  text-align: center;
  width: 1em;
}

.highlight {
  background-image: linear-gradient(90deg, var(--body), var(--theme) 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Fix for IE 11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .highlight { color: black; }
}

@keyframes apparition {
  0% { opacity: 0; transform: translateX(10px); }
  to { transform: translateX(0); }
}

.apparition {
  animation: apparition .4s ease-out both;
  display: inline-block;
}
.delay-1 { animation-delay: .5s; }
.delay-2 { animation-delay: 1.5s; }
.delay-3 { animation-delay: 2.5s; }
.delay-4 { animation-delay: 3.5s; }

/*
 * Alternative styling for small screens
 */

@media screen and (max-width: 640px), screen and (max-height: 400px) {
  .small-screen { display: initial; }
  .wide-screen { display: none; }

  h1 {
    font-size: 3rem;
  }
}
