@media print {
  html {
    font-family: 'Libertinus Serif', 'Linux Libertine', 'Georgia', 'Times', serif;
    font-size: 10.5pt;
  }
  body {
    background: none;
    color: #222;
    padding: unset;
    margin: unset;
    max-width: unset;
  }

  article {
    columns: 2;
    column-fill: auto;
    column-gap: 1em;
  }

  .headline { font-size: 3rem; }
  h1 { font-size: 2rem; }
  h2 { font-size: 1.5rem; }
  h1, h2 {
    font-weight: normal;
    margin: 0;
  }
  h1, h2, .tagline, .social {
    text-transform: unset;
  }
  h1, .byline {
    column-span: all;
  }
  .byline {
    border-bottom: 1px solid #666;
  }

  .highlight { color: inherit; }
  .social { margin-left: 0; }
  .social a { display: block; }

  #skip-nav, .separator, .header, .footer {
    display: none;
  }

  a { padding: 0; }
  a[href]:after {
    content: ' (' attr(href) ')';
    color: #222;
    font-size: 75%;
    font-weight: 400;
  }
}
