/*
 * Special CSS for wide screens
 */
@media screen and (min-width: 640px) and (min-height: 400px) {
  .small-screen { display: none; }
  .wide-screen { display: initial; }

  /*
   * Fancy decorations
   */
  .hero {
    display: table-cell;
    height: calc(100vh - 4rem);
    vertical-align: middle;
  }

  .anchor {
    position: relative;
  }

  .anchor:before {
    content: '#';
    position: absolute;
    font-size: 1.25rem;
    left: -1.5rem;
    top:.75rem;
    color: #888;
    opacity: .4;
  }

  .anchor:hover:before {
    opacity: .8;
    text-decoration: none;
  }
}
