/*
 * Special CSS for wide screens
 */
@media screen and (min-width: 640px) and (min-height: 400px) {
  .small-screen { display: none; }
  .wide-screen { display: initial; }

  /*
   * Fancy decorations
   */
  .hero {
    display: table-cell;
    height: calc(100vh - 4rem);
    vertical-align: middle;
    border-bottom: 2rem solid transparent;
  }

  .anchor {
    position: relative;
  }

  .anchor:before {
    content: '#';
    position: absolute;
    left: -1.5rem;
    color: #888;
    opacity: .4;
    transition: color .2s;
  }

  .anchor:hover:before, .anchor:focus:before {
    opacity: 1;
    color: var(--theme);
    text-decoration: none;
  }
}
