/**
 * Color schemes are easier to manage when centralized
 */

:root {
  --bg: hsl(10, 25%, 97%);
  --fg: #3b3b3b;
  --link: hsl(45, 90%, 70%);
  --link-outline: hsl(300, 35%, 38%);
  --visited: #6b6b6b;
  --rainbow: linear-gradient(70deg, #d60270, #fef42f, #00a1e8);
  --shadow: hsla(300, 35%, 65%, 30%);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg: #1f1f1f;
    --fg: hsl(10, 25%, 97%);
    --link: hsl(300, 35%, 38%);
    --link-outline: hsl(45, 90%, 70%);
    --visited: hsl(10, 25%, 80%);
  }
}

/* Main formatting */

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--bg);
  color: var(--fg);
  /** Proper french <q>uotes **/
  quotes: "« " " »" "“" "”";
}

h1 {
  font-weight: 600;
}

/* Links */

a {
  color: inherit;
  position: relative;
  text-decoration: none;
  text-shadow: 1px 1px var(--bg);
  z-index: 1;
}

a:active {
  text-decoration: underline;
}

a:visited {
  color: var(--visited);
}

a::before {
  background: var(--link);
  border-radius: 5px;
  content: "";
  height: 0.4em;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  transform: rotateZ(-2deg);
  transition: transform 0.2s;
  z-index: -1;
}

/**
 * We could animate height and bottom instead of transforms,
 * but animations on transforms have way better performance
 */
a:hover::before,
a:focus::before {
  transform: rotateZ(-2deg) scaleY(2) translateY(-0.2em);
}

/**
 * Highly visible outlines are helpful, for instance for keyboard navigation
 */
a:active,
a:focus {
  outline: 2px solid var(--link-outline);
  outline-offset: 3px;
  border-radius: 2px;
}

/* Other decorations */

.avi::before {
  content: "";
  background: var(--link);
  border-radius: 22%;
  position: absolute;
  top: 0.3em;
  left: -0.15em;
  bottom: -0.3em;
  right: -0.3em;
  z-index: -2;
  transform: rotateZ(-5deg);
}

.flag {
  width: 1.5em;
  border-radius: 4px;
}

svg text {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select: none;
}

/**
 * Reduce animations for users that have this configured
 * (for instance visitors with motion sickness)
 */
@media (prefers-reduced-motion) {
  a::before {
    transition: none;
  }
}

/**
 * Font family: https://brailleinstitute.org/freefont
 */

@font-face {
  font-display: fallback;
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  src: local("Atkinson Hyperlegible"), local("Atkinson Hyperlegible Regular"),
    url("/frills/fonts/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2");
}

@font-face {
  font-display: fallback;
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 600;
  src: local("Atkinson Hyperlegible Bold"), url("/frills/fonts/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2");
}
