/*
 * Color schemes (light is the default)
 */

body {
  background: floralwhite; /* #ffffaf0 */
  color: #222;
}

/* Contrast: 4.9:1 */
a, .highlight { color: #d42130; }
blockquote { border-left-color: #d42130; }
a:hover, a:focus { background: #ffe877; }

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: floralwhite;
  }

  /* Contrast: 4.7:1 */
  a, .highlight { color: #df3442; }
  blockquote { border-left-color: #df3442; }
  a:hover, a:focus { background: #333322; }
}

/*
 * Main formatting
 */

html {
  font-family: 'Libertinus Serif', 'Hoefler Text', 'Linux Libertine', Georgia, Times, serif;
  font-size: 16pt;
  line-height: 1.5;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  max-width: 30rem;
  padding: 1.5rem 1rem;
}

.header {
  margin-bottom: 1.5rem;
  text-align: right;
}

.footer {
  font-size: 75%; /* 12pt for a body size of 16pt */
  margin-top: 3rem;
}

h1 {
  font-size: 2.5rem;
  margin: 0 0 .5rem;
  letter-spacing: -.01em;
  line-height: 1;
  word-spacing: .05em;
}

h2 {
  font-size: 1.5rem;
  margin: 0 0 0.75rem -.5rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.2;
  margin: 0 0 .75rem;
}

p {
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-spacing: .03em;
  word-wrap: break-word;
}

blockquote {
  padding-left: 1.3rem;
  border-left-width: 3px;
  border-left-style: solid;
}

p, blockquote, ul, ol {
  margin: 0 0 1.5rem;
}

li {
  margin-bottom: .5rem;
}

a {
  border-radius: 2px;
  text-decoration: underline dotted;
  transition: background-color .1s;
}

a, strong {
  font-weight: bolder;
}

/*
 * Fancy-ish decorations
 */

.headline {
  font-size: 4rem;
}

h1, h2, .tagline, .social {
  text-transform: lowercase;
}

.social {
  word-spacing: .5rem;
  line-height: 2;
}

/*
 * Alternative styling for small screens and wide screens
 */

.small-screen { display: none; }

@media screen and (max-width: 680px), screen and (max-height: 400px) {
  html { font-size: 14pt; }
  .small-screen { display: initial; }
  h2, blockquote { margin-left: 0; }
}
