@media print {
  :root {
    --bg: #fff;
    --fg: #222;
  }

  html {
    font-size: 11pt;
  }

  body {
    display: initial;
    padding: unset;
    margin: unset;
  }

  main {
    max-width: unset;
  }

  a {
    box-shadow: none;
    color: blue;
  }

  a::before {
    background: none;
  }

  a[href]::after {
    content: " (" attr(href) ")";
    color: #222;
    font-size: 75%;
    font-weight: 400;
  }

  .avi {
    float: left;
    margin: 0 1em 0 0;
    width: 8em;
  }
}
