@media print {
  :root {
    --bg: #fff;
    --fg: #222;
  }

  html {
    font-size: 11pt;
  }

  body {
    padding: unset;
    margin: unset;
  }

  main {
    max-width: unset;
  }

  a {
    box-shadow: none;
    color: blue;
  }

  a[href]:after {
    content: " (" attr(href) ")";
    color: #222;
    font-size: 75%;
    font-weight: 400;
  }

  .shadow {
    text-shadow: unset;
  }
}
